@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Michroma', sans-serif;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  color: rgb(255, 0, 106);
  font-size: .4in;
}
.grid{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row{
  display: flex;
  gap: 10px;
}
.card{
  width: 50px;
  height: 60px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  text-align: center;
  transition: opacity .2s ease-in-out;
  border: 3px solid #080808;
  box-shadow: 5px 5px 0 0 #ff0c0c;
}
.card:hover{
  opacity: 0.8;
}
.card.revealed{
  cursor: default;
  pointer-events: disabled;
}